<%- include("partials/header.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>

        
const labels = "<%= labels.slice(-30) %>".split(',')
  
var data1 =[]
var data2 = []

for(var i=0;i<20;i++){
    data1.push({x:i+1,y: [<%= apiData.data.usages.splice(-20) %>][i] });
}

data2.push(data1[19]);
for(var i=21;i<30;i++){
    data2.push({x:i+1,y: [<%= apiData.data.predictions %>][i-20] });
}


console.log(data1);
 console.log(data2);
  const data = {
    labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
    datasets: [
    {
      label: 'Power Usage',
      backgroundColor: 'blue',
      borderColor: 'blue',
      data: data1,
    },    
    {
      label: 'Power Consumption Predictions',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: data2,
    },
   ]
  };



  const config = {
    type: 'line',
    data: data,
    options: {

    //   scales :{
    //     x:{
    //         type : "time",
    //         time : {
    //             unit : "day"
    //         }
    //     },
    //   }
    }
  };
  
  

  
</script>

<section class="text-center">

  <div class="container">
    <h1 class="mt-5 text-center display-1 mb-4">Electricity usage trends for <%= state %></h1>
    
  </div>
    


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      
    <h3 class="mt-3 text-start"style="color : <%=styles.color %>"><%= styles.message %></h3>
    <table class="table mt-5 container text-start">
      
      <tbody>
        <tr>
          <th scope="row">Monthly availability</th>
          <td><%= apiData.data.monthly_availability %></td>
          
        </tr>
        <tr>
          <th scope="row">Recorded Monthly Usage</th>
          <td><%= apiData.data.recorded_monthly_usage %></td>
         
          
        </tr>
        <tr>
          <th scope="row">Predicted Monthly Usage</th>
          <td ><%= apiData.data.predicted_monthly_usage %></td>
          
        </tr>
        <tr>
          <th scope="row">Surplus</th>
          <td style="color : <%= styles.color %>" ><%= surplus %></td>
          
        </tr>
      </tbody>
    </table>
        <div class="graph text-center" id="graph">
            <canvas id="myChart"></canvas> <br> <br>
            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


</section>

    


 


<script>



    const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );


  </script>
  
