<%- include("partials/header.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>

        
const labels = "<%= labels.slice(-30) %>".split(',')
  
var data1 =[]
var data2 = []

for(var i=0;i<20;i++){
    data1.push({x:labels[i],y: [<%= apiData.data.usages.splice(-20) %>][i] });
}

data2.push(data1[19]);
for(var i=21;i<30;i++){
    data2.push({x:labels[i],y: [<%= apiData.data.predictions %>][i-20] });
}


console.log(data1);
 console.log(data2);
  const data = {
    labels: labels,
    datasets: [
    {
      label: 'Power Usage',
      backgroundColor: 'blue',
      borderColor: 'blue',
      data: data1,
    },    
    {
      label: 'Power Consumption Predictions',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: data2,
    },
   ]
  };



  const config = {
    type: 'line',
    data: data,
    options: {

    //   scales :{
    //     x:{
    //         type : "time",
    //         time : {
    //             unit : "day"
    //         }
    //     },
    //   }
    }
  };
  
  

  
</script>

<section class="text-center">

    <h1 class="mt-5 text-center">Electricity usage trends for <%= state %></h1>
    
    <h3 class="mt-3 ali"style="color : <%=styles.color %>"><%= styles.message %></h3>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="graph text-center" id="graph">
            <canvas id="myChart"></canvas> <br> <br>
            <div class="info">
              <span class="info-items">Monthly availability : <%= apiData.data.monthly_availability %></span>
              <span class="info-items">Recorded Monthly Usage : <%= apiData.data.recorded_monthly_usage %></span>
              <span class="info-items">Predicted Monthly Usage : <%= apiData.data.predicted_monthly_usage %></span>
              <span class="info-items" style="color : <%= styles.color %>"> Surplus : <%= surplus %> </span>
            </div>
        </div>
    </div>
</div>


</section>

    


 


<script>



    const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );


  </script>
  
<%- include("partials/footer.ejs") %>